body {
	margin: 0;
	padding: 0;
	width: 100vw;
}

header {
	padding: 0;
	width: 100%;
}

#logo {
	margin: 0 auto;
	width: 55%;
}

nav ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	text-align: center;
	width: 100%;
}

nav li {
	background-color: aquamarine;
	border-radius: 15px 50px;
	box-sizing: border-box;
	display: inline-block;
	height: 10em;
	margin: 1em 1em;
	padding-top: 4em;
	width: 25%;
}

#carrusel {
	width: 100%;
}

#imgCarrusel {
	width: 80%;
	margin: 0 auto;
	
}

#imgCarrusel img {
	width: 100%;
	box-shadow: -20px 10px 15px #888888;

}

#carrusel p {
	margin: 2em;
	color: red;
}

footer {
	background-color: aquamarine;
	height: 7vh;
	width: 100%;
	height: auto;
}

footer p {
	font-size: 250%;
}

@media (min-width: 700px) {
	footer {
		background-color: red;
	}
}

