html {
  font-family: Roboto;
}

body {
  background-image: url('../assets/cork-wallet.png');
}

section {
  text-align: center;
}

// Make the button responsive
button[class*="btn"] {
  white-space: normal;
}

button[class*="btn-primary"] {
  background-color: #7a387c;
  border-color: #632d65;
  &:hover, &:focus,
  &:active:focus, &:active:hover,
  &:active {
    background-color: #672f67;
    border-color: #632d65;
  }
}

div[class="containerPaper"] {
  position: relative;
  top: 5em;
  padding: 0.5em;
  min-height: 100vh - 14vh;
  & p, form {
    text-align: center;
  }
}

div[class*="marTop1_5em"] {
  margin-top: 1.5em;
}

div[class="panel panel-default"] {
  margin-bottom: 10px;
}
